body{
  background-color: hsl(257, 40%, 49%);
}

h1{
  font-family:"Poppins";
  color:#fff; font-size: 2.5rem; line-height: 1.5;
}

p{
  font-family: "open-Sans";
  color:#fff;
  font-size: 1.2rem; line-height: 1.5;
}

.row{
  position:relative;
}

.logo{
  position:absolute;
  top: 50px;
}

.illustration{position:absolute;
top:200px;
right:8px;}

.title{
  position:absolute;
  top:250px;
  left:800px;
  width:35%;
}

.btn{
  color:hsl(257, 40%, 49%);
  border-radius: 8px;
      font-family: 'Open Sans', sans-serif;
      margin:auto;
}

.fab{
  margin:20px 10px;
  color:#fff;
}
.footer{
  position: relative;
  left:80%;
}


.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #fff;
}

@media (max-width:400px){

  .row{
    text-align:center;
  }

.logo{
  position: relative;
  margin:auto;
}

  .illustration{  position: relative;
    margin:auto;

  }
  .title{  position: relative;
    margin:auto;

  }
}
