body{
  background-color: hsl(257, 40%, 49%);
}

h1{
  font-family:"Poppins";
  color:#fff; font-size: 2.5rem; line-height: 1.5;
}

p{
  font-family: "open-Sans";
  color:#fff;
  font-size: 1.2rem; line-height: 1.5;
}

.top{
  position:relative;
  width:100%;
}

.logo{
  position:absolute;
  top: 100px;
  left:80px;
}

.illustration{position:absolute;
bottom:150px;
left:80px;}

.background-image{
  position:relative;
  width:100%;
}


.title{
  position:absolute;
  top:250px;
  right:100px;
  width:30%;
}



.btn{
  color:hsl(257, 40%, 49%);
  border-radius: 8px;
      font-family: 'Open Sans', sans-serif;
      margin:auto;
}

.fab{
  margin:20px 10px;
  color:#fff;
}
.footer{
  position: relative;
  left:80%;
}



.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: #fff;
}

@media only screen and (max-width:1028px){


.top{width:100%;

}
.logo{
  position:absolute;
  width:40%;
margin:0 auto;

}
.illustration{
  width:60%;
  top:200px;
}

.title{
top:350px;
width:60%;
margin:auto;
}

h1{
  font-size: 1.5rem;
}
p{
  font-size:1rem;}

  .footer{position:static;
    width:60%;
  margin:auto;
    padding-top: 450px;

  }
}
